* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v786_6251 {
  width: 100%;
  height: 2986px;
  background: url("../images/v786_6251.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v786_6252 {
  width: 100%;
  height: 2985px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v786_6253 {
  width: 100%;
  height: 1101px;
  background: url("../images/v786_6253.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 248px;
  left: 182px;
  overflow: hidden;
}
.v786_6254 {
  width: 100%;
  height: 521px;
  background: url("../images/v786_6254.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 123px;
  left: 0px;
  overflow: hidden;
}
.v786_6255 {
  width: 100%;
  height: 79px;
  background: url("../images/v786_6255.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v786_6256 {
  width: 100%;
  height: 79px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v786_6257 {
  width: 399px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 11px;
  left: 22px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v786_6258 {
  width: 100%;
  height: 80px;
  background: url("../images/v786_6258.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 111px;
  left: 0px;
  overflow: hidden;
}
.v786_6259 {
  width: 100%;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v786_6260 {
  width: 399px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 22px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v786_6262 {
  width: 100%;
  height: 79px;
  background: url("../images/v786_6262.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 223px;
  left: 0px;
  overflow: hidden;
}
.v786_6263 {
  width: 100%;
  height: 79px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v786_6264 {
  width: 399px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 9px;
  left: 22px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v786_6266 {
  width: 100%;
  height: 79px;
  background: url("../images/v786_6266.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 334px;
  left: 0px;
  overflow: hidden;
}
.v786_6267 {
  width: 100%;
  height: 79px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v786_6268 {
  width: 399px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 22px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v786_6270 {
  width: 100%;
  height: 79px;
  background: url("../images/v786_6270.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 442px;
  left: 0px;
  overflow: hidden;
}
.v786_6271 {
  width: 100%;
  height: 79px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v786_6272 {
  width: 773px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 10px;
  left: 22px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v786_6274 {
  width: 100%;
  height: 187px;
  background: url("../images/v786_6274.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 914px;
  left: 0px;
  overflow: hidden;
}
.v786_6275 {
  width: 100%;
  height: 79px;
  background: url("../images/v786_6275.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v786_6276 {
  width: 100%;
  height: 79px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v786_6277 {
  width: 399px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 22px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v786_6278 {
  width: 100%;
  height: 79px;
  background: url("../images/v786_6278.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 0px;
  overflow: hidden;
}
.v786_6279 {
  width: 100%;
  height: 79px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(255,0,0,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v786_6280 {
  width: 773px;
  color: rgba(255,0,0,1);
  position: absolute;
  top: 10px;
  left: 22px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v786_6281 {
  width: 469px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v786_6282 {
  width: 100%;
  height: 82px;
  background: url("../images/v786_6282.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v786_6283 {
  width: 100%;
  height: 82px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(30,30,30,1);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v786_6285 {
  width: 824px;
  height: 50px;
  background: url("../images/v786_6285.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 311px;
  overflow: hidden;
}
.v786_6286 {
  width: 819px;
  height: 46px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  border: 1px solid rgba(30,30,30,1);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v786_6287 {
  width: 128px;
  color: rgba(206,206,206,1);
  position: absolute;
  top: 16px;
  left: 12px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v786_6288 {
  width: 48px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 776px;
  border: 1px solid rgba(30,30,30,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v786_6289 {
  width: 27px;
  height: 31px;
  background: url("../images/v786_6289.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 788px;
  overflow: hidden;
}
.v786_6290 {
  width: 26px;
  height: 30px;
  background: url("../images/v786_6290.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v786_6291 {
  width: 21px;
  height: 22px;
  background: rgba(255,186,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(244,244,244,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v786_6293 {
  width: 26px;
  height: 30px;
  background: url("../images/v786_6293.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v786_6294 {
  width: 21px;
  height: 22px;
  background: rgba(255,186,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(30,30,30,1);
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v786_6297 {
  width: 270px;
  height: 61px;
  background: url("../images/v786_6297.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 29px;
  overflow: hidden;
}
.v786_6298 {
  width: 100%;
  height: 270px;
  background: url("../images/v786_6298.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1465px;
  left: 0px;
  overflow: hidden;
}
.v786_6299 {
  width: 100%;
  height: 270px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v786_6300 {
  width: 610px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 45px;
  left: 60px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.v786_6301 {
  width: 585px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 87px;
  left: 60px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v786_6302 {
  width: 939px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 157px;
  left: 177px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v786_6303 {
  width: 541px;
  color: rgba(202,202,202,1);
  position: absolute;
  top: 166px;
  left: 188px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v786_6304 {
  width: 105px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 157px;
  left: 72px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v786_6305 {
  width: 157px;
  height: 51px;
  background: rgba(184,63,63,1);
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 1153px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v786_6306 {
  width: 99px;
  color: rgba(244,244,244,1);
  position: absolute;
  top: 166px;
  left: 1182px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v786_6346 {
  width: 100%;
  height: 355px;
  background: url("../images/v786_6346.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1905px;
  left: 0px;
  overflow: hidden;
}
.v786_6347 {
  width: 100%;
  height: 355px;
  background: rgba(184,63,63,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v786_6348 {
  width: 100%;
  height: 355px;
  background: rgba(184,63,63,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v786_6349 {
  width: 381px;
  height: 88px;
  background: url("../images/v786_6349.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 168px;
  overflow: hidden;
}
.v786_6350 {
  width: 378px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 3px;
  left: 3px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v786_6351 {
  width: 381px;
  color: rgba(242,230,244,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v786_6352 {
  width: 157px;
  height: 71px;
  background: url("../images/v786_6352.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 835px;
  overflow: hidden;
}
.v786_6353 {
  width: 157px;
  height: 49px;
  background: url("../images/v786_6353.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 0px;
  overflow: hidden;
}
.v786_6354 {
  width: 155px;
  height: 47px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border: 5px solid rgba(202,202,202,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v786_6356 {
  width: 95px;
  color: rgba(202,202,202,1);
  position: absolute;
  top: 7px;
  left: 7px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v786_6357 {
  width: 155px;
  height: 47px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 5px solid rgba(202,202,202,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v786_6358 {
  width: 157px;
  height: 71px;
  background: url("../images/v786_6358.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v786_6359 {
  width: 155px;
  height: 47px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1px;
  border: 5px solid rgba(184,63,63,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v786_6362 {
  width: 95px;
  color: rgba(242,230,244,1);
  position: absolute;
  top: 28px;
  left: 7px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v786_6363 {
  width: 155px;
  height: 47px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 0px;
  border: 5px solid rgba(242,230,244,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v786_6364 {
  width: 463px;
  height: 86px;
  background: url("../images/v786_6364.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 832px;
  overflow: hidden;
}
.v786_6365 {
  width: 459px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 1px;
  left: 4px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v786_6366 {
  width: 463px;
  color: rgba(242,230,244,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v786_6367 {
  width: 691px;
  color: rgba(166,166,166,1);
  position: absolute;
  top: 141px;
  left: 168px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v786_6368 {
  width: 691px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 140px;
  left: 167px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v785_7640 {
  width: 100%;
  height: 554px;
  background: url("../images/v785_7640.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2431px;
  left: 0px;
  overflow: hidden;
}
.v785_7641 {
  width: 100%;
  height: 450px;
  background: url("../images/v785_7641.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v785_7642 {
  width: 100%;
  height: 450px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v785_7643 {
  width: 210px;
  height: 172px;
  background: url("../images/v785_7643.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 588px;
  overflow: hidden;
}
.v785_7644 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 29px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_7645 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 53px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_7646 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 77px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_7647 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 101px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_7648 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 125px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_7649 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 149px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_7650 {
  width: 137px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v785_7651 {
  width: 210px;
  height: 149px;
  background: url("../images/v785_7651.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 873px;
  overflow: hidden;
}
.v785_7652 {
  width: 137px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v785_7653 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 29px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_7654 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 53px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_7655 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 77px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_7656 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 101px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_7657 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 125px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_7658 {
  width: 210px;
  height: 77px;
  background: url("../images/v785_7658.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 1116px;
  overflow: hidden;
}
.v785_7659 {
  width: 137px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v785_7660 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 29px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_7661 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 53px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_7662 {
  width: 299px;
  height: 77px;
  background: url("../images/v785_7662.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 1116px;
  overflow: hidden;
}
.v785_7663 {
  width: 137px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v785_7664 {
  width: 299px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 29px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_7665 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 53px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_7666 {
  width: 228px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 337px;
  left: 1133px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v785_7667 {
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 371px;
  left: 1133px;
  overflow: hidden;
}
.v785_7668 {
  width: 49px;
  height: 49px;
  background: rgba(184,63,63,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v785_7669 {
  width: 6px;
  height: 6px;
  background: rgba(184,63,63,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 35px;
}
.v785_7670 {
  width: 24px;
  height: 24px;
  background: rgba(184,63,63,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
}
.v785_7671 {
  width: 63px;
  height: 63px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 364px;
  left: 1272px;
  overflow: hidden;
}
.v785_7672 {
  width: 63px;
  height: 44px;
  background: rgba(184,63,63,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
}
.v785_7673 {
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 371px;
  left: 1202px;
  overflow: hidden;
}
.v785_7674 {
  width: 50px;
  height: 50px;
  background: rgba(184,63,63,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v785_7675 {
  width: 342px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 272px;
  left: 13px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v785_7676 {
  width: 50px;
  height: 50px;
  background: url("../images/v785_7676.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 371px;
  left: 1356px;
  overflow: hidden;
}
.v785_7677 {
  width: 50px;
  height: 50px;
  background: rgba(184,63,63,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v785_7678 {
  width: 100%;
  height: 105px;
  background: rgba(184,63,63,1);
  opacity: 1;
  position: absolute;
  top: 449px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v785_7679 {
  width: 630px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 490px;
  left: 405px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v785_7680 {
  width: 504px;
  height: 114px;
  background: url("../images/v785_7680.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 13px;
  overflow: hidden;
}
