* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v786_9387 {
  width: 100%;
  height: 3188px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v786_9388 {
  width: 100%;
  height: 82px;
  background: url("../images/v786_9388.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v786_9389 {
  width: 100%;
  height: 82px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(30,30,30,1);
  overflow: hidden;
}
.name {
  color: #fff;
}
.v786_9391 {
  width: 824px;
  height: 50px;
  background: url("../images/v786_9391.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 311px;
  overflow: hidden;
}
.v786_9392 {
  width: 819px;
  height: 46px;
  background: rgba(241,241,241,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 0px;
  border: 1px solid rgba(30,30,30,1);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
}
.v786_9393 {
  width: 128px;
  color: rgba(206,206,206,1);
  position: absolute;
  top: 16px;
  left: 12px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v786_9394 {
  width: 48px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 776px;
  border: 1px solid rgba(30,30,30,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v786_9395 {
  width: 27px;
  height: 31px;
  background: url("../images/v786_9395.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 788px;
  overflow: hidden;
}
.v786_9396 {
  width: 26px;
  height: 30px;
  background: url("../images/v786_9396.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  overflow: hidden;
}
.v786_9397 {
  width: 21px;
  height: 22px;
  background: rgba(255,186,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(244,244,244,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v786_9399 {
  width: 26px;
  height: 30px;
  background: url("../images/v786_9399.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v786_9400 {
  width: 21px;
  height: 22px;
  background: rgba(255,186,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 3px solid rgba(30,30,30,1);
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v786_9403 {
  width: 270px;
  height: 61px;
  background: url("../images/v786_9403.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 29px;
  overflow: hidden;
}
.v786_9404 {
  width: 100%;
  height: 270px;
  background: url("../images/v786_9404.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1668px;
  left: 1px;
  overflow: hidden;
}
.v786_9405 {
  width: 100%;
  height: 270px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v786_9406 {
  width: 610px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 45px;
  left: 60px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 45px;
  opacity: 1;
  text-align: left;
}
.v786_9407 {
  width: 585px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 87px;
  left: 60px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.v786_9408 {
  width: 939px;
  height: 40px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 157px;
  left: 177px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v786_9409 {
  width: 541px;
  color: rgba(202,202,202,1);
  position: absolute;
  top: 166px;
  left: 188px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v786_9410 {
  width: 105px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 157px;
  left: 72px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v786_9411 {
  width: 157px;
  height: 51px;
  background: rgba(184,63,63,1);
  opacity: 1;
  position: absolute;
  top: 151px;
  left: 1153px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v786_9412 {
  width: 99px;
  color: rgba(244,244,244,1);
  position: absolute;
  top: 166px;
  left: 1182px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: center;
}
.v786_9452 {
  width: 100%;
  height: 355px;
  background: url("../images/v786_9452.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2108px;
  left: 0px;
  overflow: hidden;
}
.v786_9453 {
  width: 100%;
  height: 355px;
  background: rgba(184,63,63,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v786_9454 {
  width: 100%;
  height: 355px;
  background: rgba(184,63,63,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v786_9455 {
  width: 381px;
  height: 88px;
  background: url("../images/v786_9455.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 168px;
  overflow: hidden;
}
.v786_9456 {
  width: 378px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 3px;
  left: 3px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v786_9457 {
  width: 381px;
  color: rgba(242,230,244,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v786_9458 {
  width: 157px;
  height: 71px;
  background: url("../images/v786_9458.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 94px;
  left: 835px;
  overflow: hidden;
}
.v786_9459 {
  width: 157px;
  height: 49px;
  background: url("../images/v786_9459.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 0px;
  overflow: hidden;
}
.v786_9460 {
  width: 155px;
  height: 47px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1px;
  border: 5px solid rgba(202,202,202,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v786_9462 {
  width: 95px;
  color: rgba(202,202,202,1);
  position: absolute;
  top: 7px;
  left: 7px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v786_9463 {
  width: 155px;
  height: 47px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 5px solid rgba(202,202,202,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v786_9464 {
  width: 157px;
  height: 71px;
  background: url("../images/v786_9464.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v786_9465 {
  width: 155px;
  height: 47px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1px;
  border: 5px solid rgba(184,63,63,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v786_9468 {
  width: 95px;
  color: rgba(242,230,244,1);
  position: absolute;
  top: 28px;
  left: 7px;
  font-family: Inter;
  font-weight: Medium;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v786_9469 {
  width: 155px;
  height: 47px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 0px;
  border: 5px solid rgba(242,230,244,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v786_9470 {
  width: 463px;
  height: 86px;
  background: url("../images/v786_9470.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 42px;
  left: 832px;
  overflow: hidden;
}
.v786_9471 {
  width: 459px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 1px;
  left: 4px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v786_9472 {
  width: 463px;
  color: rgba(242,230,244,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Semi Bold Italic;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v786_9473 {
  width: 691px;
  color: rgba(166,166,166,1);
  position: absolute;
  top: 141px;
  left: 168px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v786_9474 {
  width: 691px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 140px;
  left: 167px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v786_9475 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 161px;
  left: 110px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v786_9476 {
  width: 269px;
  height: 336px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: absolute;
  top: 239px;
  left: 80px;
  overflow: hidden;
}
.v786_9477 {
  width: 269px;
  height: 337px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: absolute;
  top: 645px;
  left: 80px;
  overflow: hidden;
}
.v786_9478 {
  width: 269px;
  height: 335px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: absolute;
  top: 1052px;
  left: 80px;
  overflow: hidden;
}
.v786_9479 {
  width: 269px;
  height: 336px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: absolute;
  top: 239px;
  left: 417px;
  overflow: hidden;
}
.v786_9480 {
  width: 269px;
  height: 337px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: absolute;
  top: 645px;
  left: 417px;
  overflow: hidden;
}
.v786_9481 {
  width: 269px;
  height: 335px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: absolute;
  top: 1052px;
  left: 417px;
  overflow: hidden;
}
.v786_9482 {
  width: 269px;
  height: 336px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: absolute;
  top: 239px;
  left: 755px;
  overflow: hidden;
}
.v786_9483 {
  width: 269px;
  height: 337px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: absolute;
  top: 645px;
  left: 755px;
  overflow: hidden;
}
.v786_9484 {
  width: 269px;
  height: 335px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: absolute;
  top: 1052px;
  left: 755px;
  overflow: hidden;
}
.v786_9485 {
  width: 269px;
  height: 336px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: absolute;
  top: 239px;
  left: 1092px;
  overflow: hidden;
}
.v786_9486 {
  width: 269px;
  height: 337px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: absolute;
  top: 645px;
  left: 1092px;
  overflow: hidden;
}
.v786_9487 {
  width: 269px;
  height: 335px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: absolute;
  top: 1052px;
  left: 1092px;
  overflow: hidden;
}
.v786_9488 {
  width: 77px;
  height: 77px;
  background: url("../images/v786_9488.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1459px;
  left: 359px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v786_9491 {
  width: 77px;
  height: 77px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1459px;
  left: 621px;
  border-radius: 50%;
}
.v786_9492 {
  width: 77px;
  height: 77px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1459px;
  left: 500px;
  border-radius: 50%;
}
.v786_9493 {
  width: 38px;
  height: 39px;
  background: rgba(30,30,30,1);
  opacity: 1;
  position: absolute;
  top: 1478px;
  left: 519px;
  border-radius: 50%;
}
.v786_9494 {
  width: 77px;
  height: 77px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1459px;
  left: 742px;
  border-radius: 50%;
}
.v786_9495 {
  width: 77px;
  height: 77px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1459px;
  left: 863px;
  border-radius: 50%;
}
.v786_9496 {
  width: 13px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1566px;
  left: 713px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 27px;
  opacity: 1;
  text-align: left;
}
.v786_9497 {
  width: 294px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 505px;
  left: 86px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 70px;
  opacity: 1;
  text-align: left;
  transform: rotate(-58deg);
}
.v785_8227 {
  width: 100%;
  height: 554px;
  background: url("../images/v785_8227.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2634px;
  left: 0px;
  overflow: hidden;
}
.v785_8228 {
  width: 100%;
  height: 450px;
  background: url("../images/v785_8228.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v785_8229 {
  width: 100%;
  height: 450px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v785_8230 {
  width: 210px;
  height: 172px;
  background: url("../images/v785_8230.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 588px;
  overflow: hidden;
}
.v785_8231 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 29px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_8232 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 53px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_8233 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 77px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_8234 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 101px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_8235 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 125px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_8236 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 149px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_8237 {
  width: 137px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v785_8238 {
  width: 210px;
  height: 149px;
  background: url("../images/v785_8238.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 873px;
  overflow: hidden;
}
.v785_8239 {
  width: 137px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v785_8240 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 29px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_8241 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 53px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_8242 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 77px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_8243 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 101px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_8244 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 125px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_8245 {
  width: 210px;
  height: 77px;
  background: url("../images/v785_8245.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 131px;
  left: 1116px;
  overflow: hidden;
}
.v785_8246 {
  width: 137px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v785_8247 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 29px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_8248 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 53px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_8249 {
  width: 299px;
  height: 77px;
  background: url("../images/v785_8249.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 1116px;
  overflow: hidden;
}
.v785_8250 {
  width: 137px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v785_8251 {
  width: 299px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 29px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_8252 {
  width: 210px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 53px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v785_8253 {
  width: 228px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 337px;
  left: 1133px;
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v785_8254 {
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 371px;
  left: 1133px;
  overflow: hidden;
}
.v785_8255 {
  width: 49px;
  height: 49px;
  background: rgba(184,63,63,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v785_8256 {
  width: 6px;
  height: 6px;
  background: rgba(184,63,63,1);
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 35px;
}
.v785_8257 {
  width: 24px;
  height: 24px;
  background: rgba(184,63,63,1);
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 12px;
}
.v785_8258 {
  width: 63px;
  height: 63px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 364px;
  left: 1272px;
  overflow: hidden;
}
.v785_8259 {
  width: 63px;
  height: 44px;
  background: rgba(184,63,63,1);
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 0px;
}
.v785_8260 {
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 371px;
  left: 1202px;
  overflow: hidden;
}
.v785_8261 {
  width: 50px;
  height: 50px;
  background: rgba(184,63,63,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v785_8262 {
  width: 342px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 272px;
  left: 13px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v785_8263 {
  width: 50px;
  height: 50px;
  background: url("../images/v785_8263.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 371px;
  left: 1356px;
  overflow: hidden;
}
.v785_8264 {
  width: 50px;
  height: 50px;
  background: rgba(184,63,63,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v785_8265 {
  width: 100%;
  height: 105px;
  background: rgba(184,63,63,1);
  opacity: 1;
  position: absolute;
  top: 449px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v785_8266 {
  width: 630px;
  color: rgba(30,30,30,1);
  position: absolute;
  top: 490px;
  left: 405px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v785_8267 {
  width: 504px;
  height: 114px;
  background: url("../images/v785_8267.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 13px;
  overflow: hidden;
}
